body.draft-context {
   background: #aaa;
}

nav {
   width: 12em;
   float: left;
   text-align: center;
}

div#body {
   max-width: 50em;
   margin-left: 14em;
   margin-right: auto;
}

article {
}

div.info {
   display: block;
   font-style: italic;
   font-size: small;
   text-align: right;
}

div#nav-social-media {
   margin-top: 1em;
   padding-top: 0.5em;
   border-top: solid 2px black;
   text-align: left;
   line-height: 1.2;
}

div#nav-social-media a {
   text-decoration: none;
}

div#license {
   margin-top: 1em;
   font-size: small;
   text-align: left;
}

div#credits {
   margin-top: 1em;
   padding-top: 0.5em;
   border-top: solid 2px black;
   font-size: small;
   color: #555;
   text-align: left;
}
