body.draft-context {
   background: #aaa;
}

div#sidebar {
   width: 10em;
   float: left;
}

div#body {
   max-width: 50em;
   margin-left: 12em;
   margin-right: auto;
}

article {
}

div.info {
   display: block;
   font-style: italic;
   font-size: small;
   text-align: right;
}

div#social-media {
   margin-top: 1em;
   margin-bottom: 0.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border-top: solid 2px black;
   border-bottom: solid 2px black;
   line-height: 1.2;
}

div#sidebar a {
   text-decoration: none;
}

div#sidebar span.fa {
   color: initial;
}

div#credits {
   font-size: small;
   color: #555;
}
