body.draft-context {
   background: #aaa;
}

nav {
   width: 8em;
   float: left;
   text-align: center;
}

div#body {
   max-width: 50em;
   margin-left: 10em;
   margin-right: auto;
}

article {
}

footer {
    float: right;
    border-top: solid 2px black;
    color: #555;
    font-size: small;
    margin-top: 2em;
    padding: 1em;
}

div.info {
   display: block;
   font-style: italic;
   font-size: small;
   text-align: right;
}
