/*
 * Based on prism.js default theme
 * Using solarized light colorscheme: http://ethanschoonover.com/solarized
 */
code,
pre {
	color: #657b83;
	background: #fdf6e3;
	font-family: monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
	background: #eee8d5;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
	background: #eee8d5;
}

/* Code blocks */
pre {
	padding: 1em;
	overflow: auto;
}

.token.comment {
	color: #93a1a1;
}

.token.punctuation {
	color: #657b83;
}

.token.number,
.token.string,
.token.char {
	color: #2aa198;
}

.token.operator {
	color: #2aa198;
}

.token.keyword {
	color: #859900;
}
