<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>$title$</title>
   <link rel="stylesheet" href="/css/default.css"/>
   <link rel="stylesheet" href="/css/syntax-solarized-light.css"/>
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="$body_classes$">
   <div id="sidebar">
      <nav>
         <a href="/posts" class="nav-button">
            <span class="fa fa-archive fw"></span>
            <span class="nav-button-text">Posts</span>
         </a>
      </nav>
      <div id="social-media">
         <b>Social links</b><br>
         <a href="https://github.com/projedi"><span class="fa fa-github fw"></span>&nbsp; @projedi</a><br>
         <a href="https://twitter.com/projedi"><span class="fa fa-twitter fw"></span>&nbsp; @projedi</a><br>
         <a href="https://google.com/+AlexanderShabalin"><span class="fa fa-google-plus fw"></span>&nbsp; +Alexander Shabalin</a><br>
         <a href="https://stackoverflow.com/users/547814/projedi"><span class="fa fa-stack-overflow fw"></span>&nbsp; @projedi</a><br>
         <a href="https://vk.com/projedi"><span class="fa fa-vk fw"></span>&nbsp; Alexander Shabalin</a><br>
         <a href="https://www.reddit.com/user/ProJedi"><span class="fa fa-reddit fw"></span>&nbsp; /u/ProJedi</a>
      </div>
      <div id="credits">
         Powered by
         <a href="http://jaspervdj.be/hakyll">Hakyll</a>
         <br>
         Icons
         <a href="http://fontawesome.io/">Font Awesome</a>
         <br>
         Source code
         <a href="https://github.com/projedi/blog.ashabalin.me">GitHub</a>
      </div>
      <div id="license">
         <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
      </div>
   </div>
   <div id="body">
      $body$
   </div>
</body>
</html>
